<body id="daylight">
  <div id="daylight-game">
    <div class="row">
      <div class="col-md-1"> </div>
      <div class="box col-md-3 " onclick="dayLight('morning')">"Morning"</div>
      <div class="col-md-1"> </div>
      <div class="box col-md-3" onclick="dayLight('afternoon')">"Afternoon"</div>
      <div class="col-md-1"> </div>
      <div class="box col-md-3" onclick="dayLight('evening')">"Evening"</div>
      <div class="col-md-1"> </div>
      <div id="timeOfDay" class="box col-md-3"></div>
    </div>  
  </div>
</body>
