<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="three('a')"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="three('b')"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="three('c')"> </div>
  </div>
  
</div>
